USE [pcs9114]
GO
/****** Object:  View [dbo].[Orders_View]    Script Date: 26.02.2022 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Orders_View]
AS
SELECT        Orders.IdOrder, Orders.DateOfOrder, Customers.Login, Customers.Surname +' '+ Customers.Name AS Fullname
FROM            Orders INNER JOIN
                         Customers ON Orders.IdCustomer = Customers.IdCustomer;
GO
/****** Object:  View [dbo].[Products_View]    Script Date: 26.02.2022 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Products_View]
AS
SELECT		  Products.IdProduct
			, CONCAT_WS(' ', Products.Type, Producers.Name, Products.Model) AS ProductInfo
			, Products.Price
FROM            Products INNER JOIN
                         Producers ON Products.IdProducer = Producers.IdProducer;
GO
/****** Object:  View [dbo].[YearOrders_View]    Script Date: 26.02.2022 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[YearOrders_View]
AS
SELECT			Orders_View.IdOrder
				, Orders_View.DateOfOrder
				, Orders_View.Login
				, Orders_View.Fullname
				, Products_View.ProductInfo
				, Products_View.Price
				, OrderContents.Quantity
				, Products_View.Price * OrderContents.Quantity AS Cost
FROM            Orders_View INNER JOIN
                         OrderContents ON Orders_View.IdOrder = OrderContents.IdOrder INNER JOIN
                         Products_View ON OrderContents.IdProduct = Products_View.IdProduct
WHERE YEAR(DateOfOrder) = YEAR(GETDATE())
GO
/****** Object:  View [dbo].[ProductsSales_View]    Script Date: 26.02.2022 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ProductsSales_View]
AS
SELECT        Products_View.IdProduct, Products_View.ProductInfo, Products_View.Price, SUM(OrderContents.Quantity) AS Quantity, SUM(OrderContents.Quantity*Products_View.Price) AS [Sum]
FROM            Products_View INNER JOIN
                         OrderContents ON Products_View.IdProduct = OrderContents.IdProduct
GROUP BY  Products_View.IdProduct, Products_View.ProductInfo, Products_View.Price
GO
/****** Object:  View [dbo].[AllProducts_View]    Script Date: 26.02.2022 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[AllProducts_View]
AS
SELECT *
FROM ProductsL10000
UNION ALL
SELECT *
FROM ProductsM10000
GO
/****** Object:  View [dbo].[Smartphones_View]    Script Date: 26.02.2022 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Smartphones_View]
AS
SELECT        Products.*
FROM            Products
WHERE Type = 'смартфон'
WITH CHECK OPTION;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Orders_View"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 212
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "OrderContents"
            Begin Extent = 
               Top = 6
               Left = 250
               Bottom = 119
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Products_View"
            Begin Extent = 
               Top = 28
               Left = 516
               Bottom = 141
               Right = 690
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 2100
         SortOrder = 2220
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'YearOrders_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'YearOrders_View'
GO
